
    
    .content {
        overflow: auto;
        border: 3px solid #666;
    }

    .content div {
        padding: 10px;
    }

    .content a {
        color: darkblue;
    }

    .blue {
        float: right;
        width: 75%;
        background-color: #1faadb;
    }

    .green {
        float: left;
        width: 20%;
        background-color: #8ebf42;
    }

    .brandedTitle{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
